replicaCount: 1
image:
  repository: adeboye7306/go-web-app
  pullPolicy: IfNotPresent
  tag: "20208395972"

ingress:
  enabled: false
  className: ""
  annotations: {}

  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific